body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    color: #444;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01);
    -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01);
    -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01);
    margin-bottom: 1em;
}

ul {
    padding: 0 !important;
}

li>a * {
    color: #555 !important;
}

li>a:hover * {
    text-decoration: inherit !important;
    color: #0160A0 !important;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

a:hover {
    text-decoration: none !important;
}

section#intro {
    margin: 3.85em auto 3.25em auto;
    width: 70%;
    text-align: center;
    font-size: 2.2em;
    line-height: 1.5;
}

section#intro h1 {
    line-height: 1.5 !important;
    font-size: 1em !important;
    font-weight: 200 !important;
}

section hr {
    width: 10%;
    margin: 2em auto;
    border-top: 1px solid #444444 !important;
}

section#intro .name {
    font-weight: 600;
}

section#intro ul.icons {
    list-style: none;
    margin-top: 1em;
}

section#intro ul.icons li {
    display: inline;
    margin: 0 0.2em;
}

i.fab,
i.far {
    font-size: 0.675em !important;
    color: #a0a0a0 !important;
}

section#work .container {
    max-width: 960px !important;
}

section#work h2 {
    font-size: 1.1em !important;
    color: #444;
}

section#work ul.portfolio {
    list-style: none;
    padding-left: 0 !important;
}

section#work ul.portfolio li {
    margin: 1.45em 0;
}

section#work hr {
    margin: 1.5em 0;
    width: 15%;
}

section#work a:hover :after {
    content: "\f35d";
    font-family: "Font Awesome 5 Free";
    margin-left: 5px;
    font-size: 0.75em;
    font-weight: 600;
}

li .title {
    font-weight: 500;
    font-size: 1em;
    color: #666;
}

li .desc {
    color: #666;
    font-size: 0.875em;
}

.contact {
    margin: 0 auto;
}

.copyright {
    margin: 5em 0 .2em 0;
    text-align: right;
}

.copyright a {
    color: #555 !important;
}

a:hover * {
    text-decoration: inherit !important;
    color: #0160A0 !important;
}

.btn-primary {
    color: #FFF !important;
    font-size: 1.2em !important;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -
}

/*--------------------------------------------------------------
# Media Query
--------------------------------------------------------------*/

@media all and (min-width: 768px) and (max-width: 959px) {
    section#intro {
        margin: 0em auto 0em auto;
        width: 80%;
        text-align: center;
        font-size: 2em;
        line-height: 1.5;
    }
    ul .icons {
        padding: 0 !important;
    }
    section#work h2 {
        text-align: center;
        margin: 3em 0;
    }
    section#work hr {
        margin: 2em auto !important;
        width: 20% !important;
    }
}

/*--------------------------------------------------------------
## LARGE PHONES
--------------------------------------------------------------*/

@media all and (min-width: 480px) and (max-width: 767px) {
    section#intro {
        margin: 0em auto 0em auto;
        width: 80%;
        text-align: center;
        font-size: 2em;
        line-height: 1.5;
    }
    ul .icons {
        padding: 0 !important;
    }
    section#work h2 {
        text-align: center;
        margin: 3em 0;
    }
    section#work hr {
        margin: 2em auto !important;
        width: 20% !important;
    }
}

/*--------------------------------------------------------------
## EXTRA SMALL PHONES
--------------------------------------------------------------*/

@media all and (max-width: 424px) {
    section#intro {
        margin: 0em auto 0em auto;
        width: 80%;
        text-align: center;
        font-size: 2em;
        line-height: 1.5;
    }
    ul .icons {
        padding: 0 !important;
    }
    section#work h2 {
        text-align: center;
        margin: 3em 0;
    }
    section#work hr {
        margin: 2em auto !important;
        width: 20% !important;
    }
}

/*--------------------------------------------------------------
## EXTRA SMALL PHONES
--------------------------------------------------------------*/

@media all and (max-width: 360px) {
    section#intro {
        margin: 1em auto 1em auto;
        width: 50%;
        text-align: center;
        font-size: 2em;
        line-height: 1.5;
    }
    ul .icons {
        padding: 0 !important;
    }
    section#work h2 {
        text-align: center;
        margin: 3em 0;
    }
    section#work hr {
        margin: 2em auto !important;
        width: 20% !important;
    }
}